<div class="center jumbotron">
  <h1>Nikkie's blog</h1>
	<%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-large btn-xlarge" %>
<!--   <p>...</p> -->
<!--   <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>
